<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/label.css" type="text/css" rel="stylesheet" charset="utf-8">
    <script src="/static/plugins/jquery/jquery.min.js"></script>
    <script src="/static/plugins/vue@2/vue@2.6.10.js"></script>
    <script src="/static/js/axios@0.18.0.min.js"></script>
    <script src="/static/plugins/element@vue2/index.js"></script>
    <link href="/static/plugins/element@vue2/index.css" type="text/css" rel="stylesheet" charset="utf-8">
    <!--bp5 css文件-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <title>Label</title>
</head>
<body>
<div id="app">
    <div id="helpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    Now please label your difficulties while reading the article. The operations are as follows:
                    <br />
                    1. to label the word you were processing difficulty while reading, please <strong>click the word</strong> as follows:
                    <img src="/static/images/wordLabel.jpg" width="100%" height="100%" alt="labeling instructions"></img>
                    2. to label the sentence you were processing difficulty while reading, please <strong>double click any word in the sentence</strong> as follows:
                    <img src="/static/images/sentenceLabel.jpg" width="100%" height="100%" alt="labeling instructions"></img>
                    3. to label the sentence you were mind wandering while reading, please <strong>click the button at the right top of the corresponding sentence</strong> as follows:
                    <img src="/static/images/wanderLabel.jpg" width="100%" height="100%" alt="labeling instructions"></img>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Start</button>
                </div>
            </div>

        </div>
    </div>
    <div id="labeling">
        <div id="labelArea">
            <div id="para">

            </div>
        </div>
        <el-button type="primary" style="position: fixed;bottom: 1.8rem;right: 1.8rem;"
                       v-on:click="collect_labels">Finish
        </el-button>
{#    v-if="page == totalPage"#}
    </div>
</div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        delimiters: ["[[", "]]"],
        data: {
            content: "",
            contentOfPages: [],
            words: [],
            sentences: [],
            sentencesCurPage: [],
            sentencesPerPage: [],
            {#lines: "",#}
            page: 1,
            totalPage: 1,
            labels: [],
            misUnderstandWords: [],
            misUnderstandSentences: [],
            misUnderstandWordsLabel: [],
            wordLocation: 0,
            radio: 0,
            paraLoc: [],
            allParas: [],
            {#linesCurPage: [],#}
        },
        methods: {
            getWordLocation: function (num) {
                return {
                    left: document.getElementsByClassName('word')[num].getBoundingClientRect().left,
                    top: document.getElementsByClassName('word')[num].getBoundingClientRect().top,
                    right: document.getElementsByClassName('word')[num].getBoundingClientRect().right,
                    bottom: document.getElementsByClassName('word')[num].getBoundingClientRect().bottom,
                };
            },

            changeWordSelect: function (num) {
                for (let i = 0 ; i < this.labels[this.page-1].wordLabels.length; i++) {
                    if(this.labels[this.page-1].wordLabels[i] == num) {
                        this.labels[this.page-1].wordLabels.splice(i, 1);
                        for(let j = 0; j < this.labels[this.page-1].sentenceLabels.length; j++) {
                            if(num >= this.labels[this.page-1].sentenceLabels[j][0] && num <= this.labels[this.page-1].sentenceLabels[j][1]) {
                                $('.word:eq(' + num + ')').css('text-decoration', 'underline');
                                $('.word:eq(' + num + ')').css('color', "red");
                                return;
                            }
                        }
                        for(let k = 0; k < this.labels[this.page-1].wanderLabels.length; k++) {
                            if(num >= this.labels[this.page-1].wanderLabels[k][0] && num <= this.labels[this.page-1].wanderLabels[k][1]) {
                                $('.word:eq(' + num + ')').css('text-decoration', 'underline');
                                $('.word:eq(' + num + ')').css('color', "purple");
                                return;
                            }
                        }
                        $('.word:eq(' + num + ')').css('text-decoration', 'none solid rgb(51, 51, 51)');
                        $('.word:eq(' + num + ')').css('color', "black");

                        return;
                    }
                }
                $('.word:eq(' + num + ')').css('text-decoration', "underline");
                $('.word:eq(' + num + ')').css('color', "blue");
                this.labels[this.page-1].wordLabels.push(num);
            },

            changeSentenceSelect: async function (num) {
                let start = 0;
                let end = 0;
                for(let i = 0; i < this.sentences.length; i++){
                    let w = this.sentences[i].split(' ');
                    for(let j = 0; j < w.length; j++)
                        if(w[j] == '')
                            w.splice(j,1);
                    if(start + w.length <= num){
                        start += w.length;
                    }else{
                        end = start + w.length;
                        break;
                    }
                }
                let temp = start;
                for (let p = 0; p < this.labels[this.page - 1].sentenceLabels.length; p++) {
                    if (this.labels[this.page - 1].sentenceLabels[p][0] == start && this.labels[this.page - 1].sentenceLabels[p][1] == end) {
                        this.labels[this.page - 1].sentenceLabels.splice(p, 1);
                        console.log(this.labels);
                        for(let i = start; i < end; i++) {
                            if(this.labels[this.page-1].wordLabels.indexOf(i) == -1) {
                                $('.word:eq(' + i + ')').css('text-decoration', 'none solid rgb(51, 51, 51)');
                                $('.word:eq(' + i + ')').css('color', "black");
                            }
                        }

                        return;
                    }
                }
                for (let j = start; j < end; j++) {
                    if (this.labels[this.page-1].wordLabels.indexOf(j) == -1) {
                        $('.word:eq(' + j + ')').css('text-decoration', 'underline');
                        $('.word:eq(' + j + ')').css('color', "red");
                    }
                }
                this.labels[this.page - 1].sentenceLabels.push(new Array(start, end));
                console.log(this.labels);
            },

            changeWanderSelect: function (num) {
                let start = this.sentencesCurPage[num-1][0];
                let end = this.sentencesCurPage[num-1][1];
                for(let i = 0; i < this.labels[this.page-1].wanderLabels.length; i++) {
                    if(this.labels[this.page-1].wanderLabels[i][0] == start && this.labels[this.page-1].wanderLabels[i][1] == end) {
                        this.labels[this.page-1].wanderLabels[num-1] = [];
                        document.getElementsByClassName('wander')[num-1].style.borderColor = "black";
                        document.getElementsByClassName('wander')[num-1].style.color = "black";
                        console.log(this.labels);
                        return;
                    }
                 }
                document.getElementsByClassName('wander')[num-1].style.borderColor = "orange";
                document.getElementsByClassName('wander')[num-1].style.color = "orange";
                this.labels[this.page-1].wanderLabels[num-1] = new Array(start, end);
                console.log(this.labels);
                {#this.labels[this.page-1].wanderLabels = this.radio;#}
                {#console.log(this.labels[this.page-1].wanderLabels)#}
            },

            isInArr: function (num, arr) {
                for (let i = 0; i < arr.length; i++) {
                    if(arr[i] == num)
                        return true;
                }
                return false;
            },

            getPage: function () {
                if(!this.labels[this.page-1]){
                    this.labels.push({page: this.page, wordLabels: new Array(), sentenceLabels: new Array(), wanderLabels: new Array()});
                }
                let num = 0;
                let start = 0;
                let end = 0;
                let lastWord = null;
                var e = document.getElementById('para');
                var Content = this.content[this.page-1].split('.');
                Content.splice(Content.length-1, 1);
                this.sentences = Content;
                for(let i = 0 ; i < Content.length; i++)
                    if(Content[i].length == 0)
                        Content.splice(i,1);
                for (let i = 0; i < Content.length; i++) {
                    var sentence = Content[i].replace(".", "").split(' ');
                    for (let j = 0; j < sentence.length; j++) {
                        if (sentence[j] != "") {
                            this.words.push(sentence[j].split(',')[0]);
                            var el = document.createElement("button");
                            el.className = "word";
                            el.id = num.toString();
                            el.innerHTML = sentence[j];
                            el.setAttribute("onclick", "changeWordSelect(" + num + ")");
                            el.setAttribute("ondblclick", "changeSentenceSelect(" + num + ")");
                            e.appendChild(el);
                            if (j == sentence.length - 1) {
                                end = num;
                                this.sentencesCurPage.push(new Array(start, end));
                                start = num + 1;
                                el.innerHTML = sentence[j] + '.';
                                let ele = document.createElement('button');
                                ele.className = "wander";
                                ele.innerHTML = (i+1).toString();
                                ele.setAttribute("onclick", "changeWanderSelect("+ (i+1) + ")");
                                ele.style.left = el.getBoundingClientRect().right - 10 + "px";
                                ele.style.top = el.getBoundingClientRect().top - 10 + "px";
                                document.getElementById('labelArea').appendChild(ele);
                                this.labels[this.page-1].wanderLabels.push([]);
                            }
                            num += 1;
                            if(this.isInArr(num - 1,this.paraLoc[this.page-1])) {
                                el = document.createElement("button");
                                el.className = "fillLine";
                                let width = e.getBoundingClientRect().right - document.getElementById(num - 1 + '').getBoundingClientRect().right - 1;
                                let height = document.getElementById(num - 1 + '').getBoundingClientRect().bottom -
                                            document.getElementById(num - 1 + '').getBoundingClientRect().top - 17;
                                el.style.width = width + "px";
                                el.style.height = height + "px";
                                e.appendChild(el);
                            }
                        }
                    }
                }
                this.rememberLabels();
                if(!this.sentencesPerPage[this.page - 1]) {
                    this.sentencesPerPage.push(this.sentencesCurPage);
                }
                console.log(this.sentencesPerPage);
            },

            //把labels发送给后端存储,并更新word_level_data
            collect_labels: function () {
                for(let i = 0; i < this.labels.length; i++) {
                    let j = 0;
                    while(j < this.labels[i].wanderLabels.length) {
                        if(this.labels[i].wanderLabels[j].length == 0) {
                            this.labels[i].wanderLabels.splice(j,1);
                        }
                        else j++;
                    }
                }
                console.log(this.labels);
                let formdata = new FormData();
                formdata.append('labels',JSON.stringify(this.labels));
                formdata.append("sentence", JSON.stringify(this.sentencesPerPage));
                $.ajax({
                    type: 'POST',
                    url: '/collect_labels/',
                    data: formdata,
                    success: function () {
                        alert("Finish labeling!");
                        window.location.href = "/";

                    },
                    error: function () {
                        console.log("error");
                    },
                    contentType: false,
                    processData: false,
                })
            },

            rememberLabels:function () {
                for(let i = 0; i < this.labels[this.page-1].sentenceLabels.length; i++) {
                    let sentence = this.labels[this.page-1].sentenceLabels[i];
                    for(let j = sentence[0]; j < sentence[1]; j++) {
                        $('.word:eq(' + j + ')').css('text-decoration', 'underline');
                        $('.word:eq(' + j + ')').css('color', "red");
                    }
                }
                for(let i = 0; i < this.labels[this.page-1].wordLabels.length; i++) {
                    let num = this.labels[this.page-1].wordLabels[i];
                    $('.word:eq(' + num + ')').css('text-decoration', "underline");
                    $('.word:eq(' + num + ')').css('color', "blue");
                }
                for(let i = 0; i < this.labels[this.page-1].wanderLabels.length;i++) {
                    if(this.labels[this.page-1].wanderLabels[i].length > 0) {
                        $('.wander:eq(' + i +')').css('border-color', 'orange');
                        $('.wander:eq(' + i +')').css('color', 'orange');
                    }
                }
            },
            //清空当前页面word按钮和translation的div块，并初始化参数
            clearPageWords: function () {
                let e = document.getElementById('para');
                while(e.hasChildNodes()){
                    e.removeChild(e.children[0]);
                }
                e = document.getElementById('labelArea');
                this.words = [];
                this.lines = [];
                this.linesCurPage = [];
                this.sentencesCurPage = [];
                {#if(this.labels[this.page-1])#}
                {#    this.radio = this.labels[this.page-1].wanderLabels;#}
                {#else#}
                {#    this.radio = 0;#}
                let start = 1;
                {#if (this.page == this.totalPage) start = 2;#}
                while(e.children[start])
                    e.removeChild(e.children[start])
            },

        },
        created() {
            this.content = getCookie('contentPerPage').replace(new RegExp(":}","g"), ";").split('-.');
            let paraLoc = getCookie('paraLoc').split('|');
            for(let i = 0; i < paraLoc.length; i++) {
                let p = paraLoc[i].split(',');
                if(p.length == 1 && p[0] == '') {
                    this.paraLoc.push([]);
                }
                else this.paraLoc.push(p);
            }
            for(let i = 0; i < this.paraLoc.length; i++) {
                for(let j = 0 ; j < this.paraLoc[i].length; j++) {
                    this.paraLoc[i][j] = parseInt(this.paraLoc[i][j]);
                }
            }
            for(let i = 0; i < this.paraLoc.length; i++) {
                let tmp = [];
                for(let j = 0 ; j < this.paraLoc[i].length; j++) {
                    if(j > 0)
                        tmp.push([this.paraLoc[i][j-1] + 1, this.paraLoc[i][j]]);
                    else
                        tmp.push([0, this.paraLoc[i][0]]);
                }
                this.allParas.push(tmp);
            }
            this.totalPage = this.content.length;
            this.getPage();
        },
        mounted() {
            window["changeWordSelect"] = (num) => {
                this.changeWordSelect(num);
            }
            window["changeSentenceSelect"] = (num) => {
                this.changeSentenceSelect(num);
            }
            window["changeWanderSelect"] = (num) => {
                this.changeWanderSelect(num);
            }
        },
    })

    function setCookie(cname, cvalue) {
        document.cookie = cname + "=" + cvalue + "; ";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i].trim();
            if (c.indexOf(name) == 0)
                return c.substring(name.length, c.length);
        }
        return "";
    }

    $(document).keyup(function (event) {
        switch (event.keyCode) {
            case 37: {
                if (app._data.page > 1) {
                    app._data.page = app._data.page - 1;
                    app.clearPageWords();
                    x = [];
                    y = [];
                    app.getPage();
                }
                break;
            }
            case 39: {
                if (app._data.page < app._data.totalPage) {
                    app._data.page = app._data.page + 1;
                    app.clearPageWords();
                    x = [];
                    y = [];
                    app.getPage();
                    break;
                }
            }
        }
    });

    $(document).ready(function () {
        $('#helpModal').modal('show');
    });

</script>
</html>